.page-container.admin {
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.header-section.admin {
    display: grid;
    place-items: center;
    padding-right: 0.9rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.nav-section.admin {
    grid-row: 2 / 9;
    grid-column: 1 / 2;
}

.main-section.admin {
    grid-row: 1 / 9;
    grid-column: 2 / 9;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(7, 1fr);
    background-color: hsl(240, 23%, 95%);
}