.navlist-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.navlist-container ul {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: bold;
    gap: 2rem;
    width: 100%;
}

.navlist-container li {
    height: 2rem;
    display: flex;
    gap: 1rem;
    padding-left: 2.5rem;
    align-items: center;
}

.inactive {
    color: hsl(240, 23%, 75%);
}
.inactive a {
    color: hsl(240, 23%, 75%);
}
li.active {
    border-right: 0.2rem solid hsl(355, 100%, 65%);
}
.active {
    color: hsl(355, 100%, 65%);
}
.active a {
    color: black;
}
li .material-icons-outlined.md-36 {
    font-size: 36px;
}

.logout-section {
    padding-bottom: 15%;
}

.logout-section a {
    display: flex;
    height: 2rem;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: hsl(240, 23%, 75%)
}

.logout-section .material-icons-outlined.md-36 {
    font-size: 36px;
}

.logout-section a:hover {
    color: black;
}
